/* DEFAULT */
:root {
	--multiplicator: 1;
	--header-c: #222222;
	--background-c: #DBDBDB;
	--title-c: #FFFFFF;
	--footertxt-c: #F3F3F3;
	--hlist-c: #2A2A2A;
	--hlisthover-c: #363636;
}

body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	margin-top: calc(80px*var(--multiplicator));
	background-color: var(--background-c);
	min-height: 100vh;
}

div, p {
  transition: opacity 0.5s ease-in-out;
}

/* HEADER */
#header {
	display: flex;
	width: auto;
	height: calc(80px*var(--multiplicator));
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--header-c);
	box-shadow: 0 0 calc(10px * var(--multiplicator)) 0 #010101;
	align-items: center;
	position: fixed;
	padding: 0 calc(16px * var(--multiplicator));
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

#logo {
	display: block;
	width: calc(48px*var(--multiplicator));
	height: calc(64px*var(--multiplicator));;
	margin: 0 auto;
	cursor: pointer;
	transition: all 0.5s ease;
}

#logo:hover {
	transform: scale(1.1);
}

#pageTitle {
	color: var(--title-c);
	font-size: calc(32px*var(--multiplicator));
	font-family: 'Nova Square';
	cursor: text;
	transition: all 0.5s ease;
	height: auto;
}

#pageTitle:hover {
	transform: scale(1.05);
}

#logicMenu {
	display: none;
}

#labelMenu {
	display: flex;
	width: calc(48px*var(--multiplicator));
	height: calc(32px*var(--multiplicator));
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: all 0.4s ease;
}

#line1, #line3 {
	transition: all 0.5s ease;
}

#line2 {
	transition: all 0.25s ease;
}

#labelMenu:hover {
	transform: scale(1.1);
}

#menuList {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	background-color: var(--header-c);
	color: var(--title-c);
	position: fixed;
	padding: 0;
	margin: 0;
	top: calc(70px*var(--multiplicator));
	left: 0;
	right: 0;
	z-index: 99;
	list-style-type: none;
	transition: all 0.4s ease;
}

#menuList:hover {
	background-color: var(--hlisthover-c);
}

.menuElement {
	display: flex;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 0;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease;
}

.menuButton {
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	font-size: calc(24px*var(--multiplicator));
	font-family: 'Prompt';
	color: var(--title-c);
	border: none;
	background: transparent;
	width: 100%;
	height: 0;
	transition: opacity 0.3s ease, height 0.3s ease;
}

.menuButton:hover {
	background-color: var(--hlisthover-c);
}

#logicMenu:checked + #labelMenu #line1{
	transform: rotate(45deg) translateY(calc(10px * var(--multiplicator))) scaleX(1.16) translateX(calc(8px * var(--multiplicator)));
}

#logicMenu:checked + #labelMenu #line2{
	opacity: 0;
}

#logicMenu:checked + #labelMenu #line3{
	transform: rotate(-45deg) translateY(calc(-10px * var(--multiplicator))) scaleX(1.16) translateX(calc(8px * var(--multiplicator)));
}

#logicMenu:checked ~ #menuList {
	background-color: var(--hlist-c);
	top: calc(80px*var(--multiplicator));
}

#logicMenu:checked ~ #menuList .menuElement {
	opacity: 100;
	visibility: visible;
	height: calc(50px * var(--multiplicator));
}

#logicMenu:checked ~ #menuList .menuButton {
	opacity: 100;
	visibility: visible;
	height: calc(50px * var(--multiplicator));
}

#logicMenu:checked ~ #menuList .menuButton:not(:last-child) {
	border-bottom: calc(1px * var(--multiplicator)) solid #555;
}

.visualMenu {
	display: block;
	width: calc(40px * var(--multiplicator));
	height: 0px;
	background-color: var(--title-c);
	border: calc(3px * var(--multiplicator)) #ffffff solid;
	border-radius: calc(3px * var(--multiplicator));
}

/* FOOTER */
#footer {
	display: flex;
	width: auto;
	height: calc(80px*var(--multiplicator));
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--header-c);
	box-shadow: 0 0 calc(5px * var(--multiplicator)) 0 #010101;
	align-items: center;
	padding: 0 calc(24px * var(--multiplicator));
	margin-top: auto;
	z-index: 98;
}

.footerText {
	color: var(--footertxt-c);
	font-size: calc(14px * var(--multiplicator));
	font-family: 'Prompt';
	font-weight: 200;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 0px) and (max-width: 450px) {
	:root {
	--multiplicator: 0.6;
	}
	.footerText {
		font-size: calc(11px * var(--multiplicator));
	}
}

@media only screen and (min-width: 450px) and (max-width: 1000px) {
	:root {
	--multiplicator: 1;
	}
	.footerText {
		font-size: calc(13px * var(--multiplicator));
	}
}

@media only screen and (min-width: 1000px) {
	:root {
	--multiplicator: 1.2;
	}
}